.Button {
  font: inherit;
  padding: 10px;
  font-weight: bold;
  outline: none !important;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  top: 0;
  right: 0;
  color: #fff!important;
  background-color: #379be5;
  cursor: pointer;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: hidden;
  min-width: initial;
  box-shadow: none!important;
}
.Button:disabled {
  color: #fff;
  cursor: not-allowed;
  background: #ccc;
}
.Button:not(:disabled):hover {
  background: #303030;
}
.SubscribeForm .FormGroup {
  margin: 0!important;
}
.Subscribe {
  width: 100%;
  background-color: #e8f1f8;
  border-radius: 30px;
  border: 0;
  padding: 0 60px 0 25px;
  box-sizing: border-box;
  border: 0!important;
  outline: none;
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.2);
}