<h3>Спасибо что выбрали нашу школу.</h3>

<p>Здравствуйте {{ name }}! Вы совершили заказ на сайте {{ host }}, после оплаты на эту эл. почту придет логин и пароль от личного кабинета и инструкция по обучению</p>
