.Course {
  position: relative;
  z-index: 1;
  padding: 40px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  box-shadow: 0 8px 8px -1px rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: hidden;
  height: 100%;
  padding-bottom: 230px;
}
.Course:hover, .Popular {
  background-color: #e8f1f8;
}
.Best {
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 25px;
  background-color: #f4a03f;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(42deg);
  right: -106px;
  top: 27px;
}
.Bottom {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 15px;
  bottom: 30px;
}
.Name {
  font-size: 18px;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 5px;
}
.Duration {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}
.Price {
  font-size: 38px;
  color: #379be5;
  margin-bottom: 20px;
  line-height: 1.2;
}
.Price small {
  display: block;
  color: #b7b7b7;
  font-size: 15px;
  font-weight: 300;
}
.Button {
  max-width: 250px;
  margin: auto;
}
.Introtext {
  line-height: 1.4;
  color: #707070;
  font-size: 14px;
  font-weight: 300;
}
.Introtext ul {
  list-style: none;
  margin: 0 0;
  padding: 0;
}
.Introtext ul li {
  position: relative;
  padding-left: 25px;
}
.Introtext ul li:not(:last-child) {
  margin-bottom: 5px;
}
.Introtext ul li:before {
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 11px;
  color: #379be5;
}
.Salary {
  font-size: 14px;
  color: #707070;
}
.PaymentConditions {
  line-height: 1;
  font-size: 14px;
  font-style: italic;
  color: #f18963;
}